		.innerRectangle {
			position:relative;
			height:500px;
			background-color:#f2f2f2;
		}
		.innerRectangleHeader {
			height:100px;
			background-color:#f9f9f9;
		}
		.list-inline:hover {
			color: #007f72;
		}
		a:hover {
			color: #23527c;
		}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
		{
			color: green;
			cursor: default;
			background-color: transparent !important; 
			border: none !important; 
			border-bottom-color: transparent;
			border-bottom: 3px solid green !important;
			font-weight: bold;
		}
		.nav-tabs {
			border-bottom: none !important;
		}
		.nav>li>a:focus, .nav>li>a:hover {
			text-decoration: none;
			background-color: transparent !important;
		}
		.nav-tabs>li>a {
			margin-right: 2px;
			line-height: 1.42857143;
			border: none!important;
			border-radius: 4px 4px 0 0;
		}
		a {
			color: black;
			text-decoration: none;
		}
		.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
			color: green !important;
			background-color: transparent !important;
			font-weight: bold;
		}
		 .navbar-nav>li>a:hover {
			color: green;
		}
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #ffffff;
		  min-width: 195px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  padding: 12px 16px;
		  z-index: 1;
		}

		.dropdown:hover .dropdown-content {
		  display: block;
		}
		.img-circle {
			margin-bottom: 17%;
			margin-left: -4%;
		}